<%- model_class = Game -%>
<br><br><br>
<div class="pull-right"><%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_path,
            :class => 'btn btn-primary' %>
</div>
<span class="octicon octicon-flame"></span>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:strategy) %> <br>(1-10)</th>
      <th><%= model_class.human_attribute_name(:pace) %></th>
      <!-- <th>Submitted By</th> -->

      <% if signed_in? %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
       <tr>
        <td><h4 class="games-list-item"><%= link_to "<b>&#8679;</b>".html_safe, vote_game_path(game, direction: :like) %></h4 class="games-list-item"></td>
        <td><h4 class="games-list-item"><%= link_to game.title, game_path(game) %></h4 class="games-list-item"></td>
        <!--<h4 class="games-list-item"> <td><%= game.id %></td</h4 class="games-list-item">> -->
        <!--<h4 class="games-list-item"> <td><%= game.title %></td</h4 class="games-list-item">> -->
        <!--<h4 class="games-list-item"> <td><%= game.description %></td</h4 class="games-list-item">> -->
        <td><h4 class="games-list-item"><%= game.strategy %></h4 class="games-list-item"></td>
        <td><h4 class="games-list-item"><%= game.pace %></h4 class="games-list-item"></td>
        <!-- <td><h4 class="games-list-item"><%#= User.find(game.user_id).name %></h4 class="games-list-item"></td> -->

        <!-- <td><h4 class="games-list-item"><%#=l game.created_at, format: :short %></h4 class="games-list-item"></td> -->
        <% if signed_in? %>
          <td><h4 class="games-list-item">
            <%= link_to game_path(game), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to game_path(game), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          </h4 class="games-list-item"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


